body {
    background-color :#fff;
    color: #000;
}
footer {
    text-align: center;
    size: 60px;
}
.marquinhos {
    max-width: 500px;
    max-height: 250px;
    width: auto;
    height: auto;
    align-self: center;
} 